*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.main .menu{
	background-image:url('../img/bg-seccion1.png');
	border: 1px solid black;
	padding: 200px;
	background-size: cover;
	background-position:center;
	height: 1200%; 
}
li{
	margin: 0px 2px 0px 0px;
}
li a{
	background:#E90058;
	text-decoration: none;
	float: left;
	color: white;
	padding: 5px;

}
.menus{
	list-style: none;

}
.menus a:hover{
	background: red;
	color: white;
	float: left;
}
.main2{
	width: 95%;
	max-width: 80%;
	margin: 35px auto;
}
aside {
	float: left;	
}
#uno {
	margin: 6%;
}
.none{
	margin: 0px;
}
.clase{
	font-size: 30px;
}
#logo{
	width: 95%;
	max-width: 80%;
	margin: 35px auto;
}

footer{
	background-color: black;
	border-top:6px solid #E9004C;
	color: white;
	display: block;
	overflow: hidden;
	clear: both;
	padding: 5%;
}
.ver{
	margin-top: 50px;
	margin-bottom: 50px;
}