*{
	margin: 0px;
	padding:0px;
	box-sizing: border-box;
}
.header{
	margin: 35px auto;
	width: 95%;
	max-width: 80%;
}
.nav{
	background-image:url('../img/bg-seccion1.png');
	height: 100%;
	background-size: cover;
	padding: 300px;
	background-position: center;
	background-repeat: no-repeat;
	height: 1000%;
}
.nav h1{
	font-size: 70px;
	color: #515050;
}
.header1{
	font-size: 40px;
	color: #515050;
}
.nav  a{
	text-decoration: none;
	background: #FF0243;
	font-size: 30px;
	color: white;
	padding: 10px;
	margin: 0px 7px 0px 7px;
	float: left;
}
.nav a:hover{
-moz-transform: scale(1.1) rotate(360deg);
-webkit-transform: scale(1.1) rotate(360deg);
-o-transform: scale(1.1) rotate(360deg);
-ms-transform: scale(1.1) rotate(360deg);
transform: scale(1.1) rotate(360deg);
-webkit-transition: all 1000ms ease-in-out;
-moz-transition: all 1000ms ease-in-out;
-ms-transition: all 1000ms ease-in-out;
-o-transition: all 1000ms ease-in-out;
transition: all 1000ms ease-in-out;
}
aside{
	float: left;
	margin: 90px 90px;
	font-size: 40px;
	color: #565656;
}
h2{
	color: #565656;
}
footer{
	clear: both;
	background: black;
	padding: 70px;
	color: white;
	border-top: 8px solid #F3094B;
}
footer .header{
	font-size: 40px;
}
footer .header a{
	color: #878787;
}
.main a:hover{
-moz-transform: scale(1.1) rotate(720deg);
-webkit-transform: scale(1.1) rotate(720deg);
-o-transform: scale(1.1) rotate(720deg);
-ms-transform: scale(1.1) rotate(720deg);
transform: scale(1.1) rotate(720deg);
-webkit-transition: all 1000ms ease-in-out;
-moz-transition: all 1000ms ease-in-out;
-ms-transition: all 1000ms ease-in-out;
-o-transition: all 1000ms ease-in-out;
transition: all 1000ms ease-in-out;
}
.main{
	list-style: none;
	margin: 7% 0% 0% 5%;
}
.fixed .main li{
	display: block;	
}
a{
	display: block;
	
}
li{
	font-size: 20px;
	margin: 5px;
}
.face{
	background-color: #3642D1;
	color: white;
	padding: 20px;
	border-radius: 50%;
	border:  1px solid white;
}
.bird{
	background-color: deepskyblue;
	color: white;
	padding: 20px;
	border-radius: 80%;
	border:  1px solid white;
}
.g{
	background-color:crimson;
	color: white;
	padding: 18px;
	border-radius: 80%;
	border:  1px solid white;
}
.pinter{
	background-color: #CE0023;
	color: white;
	padding: 20px;
	border-radius: 80%;
	border:  1px solid white;
}
.messaje{
	background-color: mediumseagreen;
	color: white;
	padding: 20px;
	border-radius: 80%;
	border: 1px solid white;
}
.fixed .main li,a{
	display: block;
	margin-right: 
}
.fixed{
	position: fixed;
	left: 0;
	top: 300px;
	z-index: 2000;
}
@media  only screen and (max-width: 1000px) {
	body{
		background-color: #4FADBB;
	}
	h2,article ol ul li{
		color: white;
	}
}
@media (max-width: 863px){
	.nav a{
		background-color: darkblue;
		font-family: 'Lobster', cursive;
	}
	.nav h1{
		color: white;
	}
	.nav a:hover{
		border-bottom: 2px solid white; 
	}